registry=https://registry.npm.taobao.org # 设置淘宝镜像源
# registry=https://registry.npmjs.org
# @kada:registry=http://10.0.10.63:4873  ## KaDa故事内部私有npm server
puppeteer_download_host=https://npm.taobao.org/mirrors
sass_binary_site=https://npm.taobao.org/mirrors/node-sass
phantomjs_cdnurl=http://cnpmjs.org/downloads
electron_mirror=https://npm.taobao.org/mirrors/electron
sqlite3_binary_host_mirror=https://foxgis.oss-cn-shanghai.aliyuncs.com
profiler_binary_host_mirror=https://npm.taobao.org/mirrors/node-inspector
chromedriver_cdnurl=https://cdn.npm.taobao.org/dist/chromedriver
